@model IEnumerable<Blog>

 <div id="carouselExampleIndicators" class="carousel slide mb-3">
  <div class="carousel-indicators">

    @for (int i = 0; i < Model.Count(); i++)
    {
        if (i==0) {
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active"></li>
        }
        else
        {
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"></li>
        }
    }
  </div>
  <div class="carousel-inner" role="listbox">
    @{var index = 0;}
    @foreach (var item in Model)
    {
        if (index == 0)
         {
            <div class="carousel-item active">
                <img src="~/img/@item.Image" class="d-block w-100" alt="@item.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Title</h5>
                    <p>@item.Description</p>
                </div>
            </div>  
            index++;
         }
         else
         {
            <div class="carousel-item">
                <img src="~/img/@item.Image" class="d-block w-100" alt="@item.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Title</h5>
                    <p>@item.Description</p>
                </div>
            </div>  
         }     
    }
  </div>
  <button class="carousel-control-prev" role="button" href="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" role="button" href="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 